<%= form_with(model:  [:admin, @plan_your_trip] , html: { data: { turbo: false } } ) do |form| %>

	<div class="form-ouline mb-4">
		<%= form.label :days_of_travel, class:"form-label"%>
		<%= form.text_field :days_of_travel, class:"form-control form-control-lg"%>
	</div>
	<div class="form-ouline mb-4">
		<%= form.label :start_point_city, class:"form-label"%>
		<%= form.text_field :start_point_city, class:"form-control form-control-lg"%>
	</div>
	<div class="form-ouline mb-4">
		<%= form.label :travel_month, class:"form-label"%>
		<%= form.date_field :travel_month, class:"form-control form-control-lg"%>
	</div>
	<div class="form-ouline mb-4">
		<%#= form.label :name, class:"form-label"%>
		<%= form.hidden_field :name, class:"form-control form-control-lg", value: current_user.name%>
	</div>
	<div class="form-ouline mb-4">
		<%#= form.label :email, class:"form-label"%>
		<%= form.hidden_field :email, class:"form-control form-control-lg", value:current_user.email%>
	</div>
	<div class="form-ouline mb-4">
		<%#= form.label :contact_number, class:"form-label"%>
		<%= form.hidden_field :contact_number, class:"form-control form-control-lg", value: current_user.contact_number %>
	</div>
	<%= form.submit "Submit" %>
<% end %>