
<div class="container">
 <p>Hello there, this is our image</p>
 <h2>Your Trip Summary</h2>

 <p>Number of days of travel: <%= @plan_your_trip.days_of_travel %></p>
 <p>Starting point city: <%= @plan_your_trip.start_point_city %></p>
 <p>Travel month: <%= @plan_your_trip.travel_month %></p>
 <p>Name: <%= @plan_your_trip.name %></p>
 <p>Email: <%= @plan_your_trip.email %></p>
 <p>Contact number: <%= @plan_your_trip.contact_number %></p>
</div>

