<div class="col-lg-12">
  <div class="container">
    <div class="col-lg-12">
      <div class="container-fluid">
        <div class="card mb-4">
          <% if @papular_palace.palace_images.attached? %>
            <%= image_tag @papular_palace.palace_images.first,  style: "width: 100%; height: 25rem;" %>
           <% end %>
        </div>
        <h2><span class="ms-1"><%= @papular_palace.name %></span></h2>
        <p>State:<span class="ms-1"><%= @papular_palace.state %></span></p>
        <p>City:<span class="ms-1"><%= @papular_palace.city %></span></p>
      </div>
    </div>
    <div class="col-lg-12">
      <div id="history-container"> <!-- Added container div -->
        <small ><%= simple_format(@papular_palace.about) %></small>
        <button id="toggle-history" class="btn btn-link">Show More</button>
      </div>
    </div>  
  </div>
</div>


<div class="container" id="Gallery">
 <h3 class="m-2 mt-4">Gallery</h3>
 <div class="row">
   <% @papular_palace.palace_images.each do |image| %>
     <% unless image == @papular_palace.palace_images[0] %>
       <div class="col-lg-4">
         <div class="card mb-2 mt-2">
           <a class="image-link" href="<%= rails_blob_path(image, only_path: true) %>" data-mfp-src="<%= rails_blob_path(image, only_path: true) %>" data-mfp-width="800" data-mfp-height="300">
             <%= image_tag image, style: "width: 800px; height: 300px; max-width: 100%;" %>
           </a>
         </div>
       </div>
     <% end %>
   <% end %>
 </div>
 <%= link_to "Back", papular_palaces_path, class:"btn btn-outline-warning mb-3" %>
 <%#= link_to "Delete" , places_path ,  data: {
 turbo_confirm: 'Are you Sure?', turbo_method: :delete }, class:"btn btn-primary" %>
</div>
