<div class="col-lg-12 col-sm-12 ">
  <div class="container ">
    <div class="col-lg-6 mx-auto text-center mb-3">
      <div class="card" style="width: 25rem;">
          <h5 class="card-header">Room Booking Details</h5>
        <div class="card-body">
          <small>User ID : <%= @room.user_id %></small>
          <p><small>Accommodation:<%= @room.accommodation.name %></small></p>
          <p class="card-text"> Room Type:<span class="ms-2"><%= @room.title %></span></p>
          <p class="card-text">Total Room:<span class="ms-2"><%= @room.room_number %></span></p>
          <p class="card-text"> Contact Number:<span class="ms-2"><%= @room.contact_number %></span></p>
          <p class="card-text"> Check In:<span class="ms-2"><%= @room.check_in_date %></span><span class="ms-1"><%= @room.check_in_time %></span></p>
           <p class="card-text"> Check Out:<span class="ms-2"><%= @room.check_out_date %></span><span class="ms-1"><%= @room.check_out_time %></span></p>
          <p class="card-text"> Room Facilities: <span class="ms-2"><%= @room.facilities %></span></p>
          <p class="card-text">Location:<span class="ms-2"><%= @room.location %></span></p>
          <p class="card-text">Adults:<span class="ms-2"><%= @room.adults %></span></p>
          <p class="card-text">Children:<span class="ms-2"><%= @room.children %></span></p>
          <p class="card-text h5">Status:<span class="text-danger"><%= status_label(@room.status) %></span></p>
           <% if @room.status[0] %>
            <%= link_to approve_admin_room_path(@room), method: :put, class: 'btn btn-success', data: { confirm: 'Are you sure you want to approve this room?' } do %>
              Approve
            <% end %>
            <%= link_to unapprove_admin_room_path(@room), method: :put, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to disapprove this room?' } do %>
              Disapprove
            <% end %>
          <% end %>
        </tr>
      </div>
    </div>
  </div>
</div>
  