
<%#= render 'shared/errors', model: @tourist_point %>

<%= form_with model: @tourist_point,  html: { data: { turbo: false } } do |form| %>
<div class="form-outline mb-4">
	<%= form.label :place_name, class:"form-label" %>
	<%= form.text_field :place_name, class:"form-control" %>
	<% @tourist_point.errors.full_messages_for(:place_name).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>
<!-- Email input -->
<div class="form-outline mb-4">
	<%= form.label :location_name, class:"form-label" %>
	<%= form.text_field :location_name, class:"form-control" %>
	<% @tourist_point.errors.full_messages_for(:location_name).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>
<!-- Message input -->
<div class="row">
	<div class="col-lg-6">
		<div class="form-outline mb-4">
			<%= form.label :latitude, class:"form-label" %>
			<%= form.text_field :latitude, class:"form-control"%>
			<% @tourist_point.errors.full_messages_for(:latitude).each do |message|%>
			<p class="text-danger"><%= message %></p>
			<% end %>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-outline mb-4">
			<%= form.label :longitude, class:"form-label" %>
			<%= form.text_field :longitude, class:"form-control" %>
			<% @tourist_point.errors.full_messages_for(:longitude).each do |message| %>
			<p class="text-danger"><%= message %></p>
			<% end %>
		</div>
	</div>
</div>
<div class="form-outline mb-4">
	<%= form.label :history, class:"form-label" %>
	<%= form.text_area :history, class:"form-control" %>
	<% @tourist_point.errors.full_messages_for(:history).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>



<div class="form-outline mb-4">
	<%= form.label :images, class:"form-label" %>
	<%= form.file_field :images, multiple: true %>
	<% @tourist_point.errors.full_messages_for(:images).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>
<%= form.submit "Submit" ,class:"btn btn-primary " %>
<%= link_to "Back",places_path ,class:"btn btn-outline-warning" %>
<% end %>