<div class="col-lg-10 mx-auto mb-2">
	<%= link_to "Add ", new_tourist_point_path, class:"btn btn-primary mb-2"%>
	<% @tourist_points.each do |tourist_point| %>
	<%= link_to tourist_point_path(tourist_point),style:"text-decoration:none; color:black;" do%>
	<div class="card mb-3" style="max-width: 800;">
		<div class="row g-0">
			<div class="col-md-4">
				<% if tourist_point.images.attached? %>
				<%=  image_tag tourist_point.images[0], class:" rounded-start place-img mb-0 pb-0", alt: "Place Image" %>
				<% end %>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title"><%= tourist_point.place_name%></h3>
					<h5 class="card-title"><%= tourist_point.location_name %></h5>
					<p class="card-text"><%= simple_format(truncate(tourist_point.history, length: 200 ))%></p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>

<style>
	.place-img{
		width: 100%;
		height: 200px;
		max-height: 200px;
		margin-top: 2px;
		margin-bottom: 0px;

	}
</style>

