<div class="col-lg-12">
	<div class="container">
	<%= link_to "New", new_near_by_place_path ,class:"btn btn-primary mb-4" %>
		<div class="col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Tourist point</th>
						<th scope="col"> Place</th>
						<th scope="col">Name</th>
						<th scope="col">Longitude</th>
						<th scope="col">Latitude</th>
						<th scope="col">Distance from</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<% @near_by_places.each do |near_by_place| %>
					<tr>
						<td class=""><%= near_by_place.tourist_point_id %></td>
						<td><%= near_by_place.place_id %></td>
						<td><%= near_by_place.name %></td>
						<td><%= near_by_place.longitude %></td>
						<td><%= near_by_place.latitude %></td>
						<td><%= near_by_place.distance_from %></td>
						<td><%= link_to "View", near_by_place , class:"btn btn-primary"%></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%#= link_to "show", near_by , class:"btn btn-outline-primary" %>