<div class="col-lg-12">
	<div class="container mx-auto">
			<div class="card" style="width: 25rem; height: 5rem;">
				<% if @near_by_place.images.attached? %>
				 <%= image_tag @near_by_place.images[0] ,class:"card-img-top" %>
				 <% end %>
				
				<div class="card-body">
					<h5 class="card-title">Name:<span><%= @near_by_place.name %></span></h5>
					<div class="d-flex ">
						<p class="">Longitude:<span><%= @near_by_place.longitude %></span></p>
						<p class="ms-4">Ltitude:<span><%= @near_by_place.latitude %></span></p>
					</div>
					<div class="d-flex">
						<p>Place Id:<span><%= @near_by_place.place_id %></span></p>
						<p class="ms-4">Touristpoint Id:<span><%= @near_by_place.tourist_point_id %></span></p>
					</div>
					<div>
						<p>Distance Form:<span><%= @near_by_place.distance_from %></span>
						</p>
						<%= link_to "Back", near_by_places_path ,class:"btn btn-outline-primary" %>
						<%= link_to "Edit", edit_near_by_place_path , class:"btn btn-outline-info" %>
						<%= link_to "Delete" , near_by_places_path , method: :delete, data: {confirm: "are you Sure to delete"} , class:"btn btn-outline-danger" %>
					</div>   
				</div>
			</div>
		</div>
	</div>
</div>


