<%= form_with model: @accommodation, html: { data: { turbo: false} } do |form| %>

<div class=" form-ouline mb-4">
	<%= form.label :name, class:"form-label"%>
	<%= form.text_field :name, class:"form-control" %>
	<% @accommodation.errors.full_messages_for(:name).each do |message|%>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>

<div class="form-ouline mb-4">
	<%= form.label :city, class:"form-label"%>
	<%= form.text_field :city, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:city).each do |message| %>
	<p class="text-danger"><%= message%></p>
	<% end %>
</div>
<div class="form-ouline mb-4">
	<%= form.label :state, class:"form-label" %>
	<%= form.text_field :state, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:state).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>
<div class="form-ouline mb-4">
	<%= form.label :address, class:"form-label" %>
	<%= form.text_field :address, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:address).each do |message| %>
	<p class="text-danger"><%= message%></p>
	<% end %>
</div>

<div class="form-ouline mb-4 ">
	<%= form.label :pincode, class:"form-label"%><br>
	<%= form.text_field :pincode, class:"form-control mx-2"%>
	<% @accommodation.errors.full_messages_for(:pincode).each do |message| %>
	<p  class="text-danger"><%= message%></p>
	<% end %>
</div>



<div class="form-ouline mb-4">
	<%= form.label :about, class:"form-label" %>
	<%= form.text_area :about, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:about).each do |message|%>
	<p class="text-danger"><%= message%></p>
	<% end %>
</div>

<div class="form-ouline mb-4">
	<%= form.label :email, class:"form-label"%>
	<%= form.text_field :email, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:email).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>
<div class="form-ouline mb-4">
	<%= form.label :contact_number, class:"form-label"%>
	<%= form.text_field :contact_number, class:"form-control"%>
	<% @accommodation.errors.full_messages_for(:contact_number).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>

<div class="form-ouline mb-4 d-flex">
	<%= form.label :galleries , class:"form-label"%>
	<%= form.file_field :galleries, multiple:true %>
	<% @accommodation.errors.full_messages_for(:gallery).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>

<%= form.submit class:"btn btn-outline-primary" %>
<% end %>


