<div class="col-lg-12">
	<div class="container">
		<% if @best_time_to_visits.present? %>
			<% @best_time_to_visits.each do |best_time_to_visit| %>
			<div class="card mt-3">
				<div class="card-header fs-2"><%= best_time_to_visit.title %></div>
				<div class="card-body">
					<h5 class="card-title"><%= best_time_to_visit.place_name %></h5>
					<p class="card-text"><%= simple_format(truncate(best_time_to_visit.description, length:200)) %></p>
					<%= link_to "View" , best_time_to_visit_path(best_time_to_visit), class:"btn btn-outline-info" %>
				</div>
			</div>
			<% end %>
			<% else %>
			<p class="lead text-danger">No Data Available</p>
		<% end %>
		<div class="mt-2">
			<%= paginate @best_time_to_visits %>
		</div>
	</div>
</div>