<div class="col-lg-12">
	<%= link_to "Create", new_best_time_to_visit_path , class:"btn btn-primary" %>
	<div class="container">
		<% @best_time_to_visits.each do |best_time_to_visit| %>
		<div class="card">
			<div class="card-header fs-2"><%= best_time_to_visit.title %></div>
			<div class="card-body">
				<h5 class="card-title"><%= best_time_to_visit.place_name %></h5>
				<p class="card-text"><%= simple_format(truncate(best_time_to_visit.description, length:200)) %></p>
				<%= link_to "View" , best_time_to_visit, class:"btn btn-outline-info" %>
			</div>
		</div>
		<% end %>
	</div>
</div>