<div class="row">
	<div class="col-lg-10 mx-auto mt-5">
		<div class="card mb-3">
			<% if @popular_place.popular_place_images.attached? %>
			<%= image_tag @popular_place.popular_place_images.first, class: "img-fluid rounded-start", style:"width:100%; height:450px;" %>
			<% end %>
			<div class="card-body">
				<h5 class="card-title"><%= @popular_place.name %></h5>
				<p class="card-text">City:<span><%= @popular_place.city %></span></p>
				<p class="card-text">State:<span><%= @popular_place.state %></span></p>
				<p><small><%= @popular_place.about%></small></p>
				<% if current_user.admin? %>
				<%= link_to "Back", admin_popular_places_path, class:"btn btn-outline-primary"%>
				<%= link_to "Edit", edit_admin_popular_place_path(@popular_place), class:"btn btn-outline-warning"%>
				<%= link_to "Delete", admin_popular_place_path(@popular_place), method: :delete, data: {confirm: "Are you sure to delete"}, class:"btn btn-outline-danger"%>
				<% end %>
			</div>
		</div>
	</div>
	<%# end %>
</div>