<%= form_with model: @room, html:{ data: { turbo: false } } do |form| %>
  <%= form.hidden_field :accommodation_id, value: @accommodation.id %>

  <div class="form-outline mb-2">
    <%= form.label :title, class: "form-label m-0" %>
    <%= form.select :title, options_for_select([["Select a Title", ""], ["Super", "super"], ["Delux", "delux"], ["Premium", "premium"]], @room.title), {}, { class: "form-select", id: "title-select" } %>
  </div>
  <div class="d-flex justify-content-between ">
    <div class="form-outline m-0 mt-2" >
      <%= form.label :contact_number, class:"form-label m-0"%>
      <%= form.text_field :contact_number, class:"form-control "%>
      <% @room.errors.full_messages_for(:contact_number).each do |message| %>
      <p class="text-danger"><%= message%></p>
      <% end %>
    </div>
    <div class="form-outline mt-2" >
      <%= form.label :location, class:"form-label m-0" %>
      <%= form.text_field :location, class:"form-control"%>
      <% @room.errors.full_messages_for(:location).each do |message|%>
      <p class="text-danger"><%= message%></p>
      <% end %>
    </div>
    <div class="form-outline mt-2" >
      <%= form.label :room_number, class:"form-lablel"%>
      <%= form.select :room_number,options_for_select([["Select a room", ""], ["1", "1"], ["2", "2"], ["3", "4"]], @room.room_number), {}, { class: "form-select", id: "title-select" } %>
      <% @room.errors.full_messages_for(:room_number).each do |message| %>
      <p class="text-danger"><%= message%></p>
      <% end %>
    </div>
  </div>
  <div class="form-outline mt-2">
    <%= form.label :check_in_time, "Check-In", class: "form-label m-0" %>
    <div class="d-flex justify-content-between ">

      <%= form.date_field :check_in_date, class:"form-control" %>
      <%= form.select :check_in_hour, (1..12), { include_blank: "Hour" }, id: "check_in_hour ", class: "form-select mx-3" %>
      :
      <%= form.select :check_in_minute, (0..59), { include_blank: "Minute" }, class: "form-select mx-3", id: "check_in_minute" %>
      <%= form.select :check_in_period, ["AM", "PM"], { include_blank: "Select am/pm" }, id: "check_in_period", class: "form-select" %>
    </div> 
  </div>
  <div class="form-outline mt-3">
    <%= form.label :check_out_time, "Check-Out", class:"form-label m-0"%>

    <div class="d-flex justify-content-between ">
      <%= form.date_field :check_out_date, class:"form-control" %>
      <%= form.select :check_out_hour, (1..12), { include_blank: "Hour" }, id: "check_out_hour", class: "form-select mx-3" %>
      :
      <%= form.select :check_out_minute, (0..59), { include_blank: "Minute" }, class: "form-select mx-3", id: "check_out_minute" %>
      <%= form.select :check_out_period, ["AM", "PM"], { include_blank: "AM/PM" }, id: "check_out_period", class: "form-select" %><br>

      <% @room.errors.full_messages_for(:check_out_time).each do |message|%>
      <p class="text-danger"><%= message%></p>
      <% end %>
    </div>
  </div>
  <div class="form-outline mt-3">
    <%= form.label :adults, class:"form-label m-0" %>
    <%= form.text_field :adults, class:"form-control"%>
    <% @room.errors.full_messages_for(:adults).each do |message|%>
    <p class="text-danger"><%= message%></p>
    <% end %>
  </div>
  <div class="form-ouline mt-3">
    <%= form.label :childrens, class:"form-label m-0" %>
    <%= form.text_field :childrens, class:"form-control"%>
    <% @room.errors.full_messages_for(:childrens).each do |message|%>
    <p class="text-danger"><%= message%></p>
    <% end %>
  </div>
  <div class="form-outline mt-3">

    <%= form.label :facilities, class: "form-label m-0" %>
    <%= form.select :facilities, [], {}, { class: "form-select", id: "facilities-select" } %>
  </div>
  <div class="form-outline mt-3">
    <%= form.label :price %>
    <%= form.text_field :price, id: "price-select", class: "form-control", readonly: true %>
  </div>
  <%= form.submit class:"btn btn-outline-warning my-3"%>
<% end %>




































<script>
  $(document).ready(function () {
    const titleSelect = $('#title-select');
    const facilitiesSelect = $('#facilities-select');
    const priceSelect = $('#price-select');

    const priceMap = {
      super: 2500,
      delux: 3500,
      premium: 4500,
    }

    const facilitiesMap = {
      super: ["Break fast"],
      delux:  ["Brakfast", "Dinner"],
      premium: ["Break fast", "Luch + Brakfast", "Dinner"]
    };

    // Function to update the facilities options based on the selected title
    const updateFacilities = () => {
      const selectedTitle = titleSelect.val();
      const facilities = facilitiesMap[selectedTitle] || [];
      // Clear and populate the facilities select field
      facilitiesSelect.empty();
      facilitiesSelect.append('<option value="">Select Facility</option>'); // Add a default option

      facilities.forEach(facility => {
        facilitiesSelect.append($('<option>', {
          value: facility,
          text: facility
        }));
      });

      // Automatically update the price field
      const price = priceMap[selectedTitle];
      if (price) {
        priceSelect.val(price);
      } else {
        priceSelect.val("");
      }
    };

    const updatePrice = () => {
      const selectedTitle = titleSelect.val();
      const price = priceMap[selectedTitle] || "";
      priceSelect.val(price);
    };

    // Listen for changes in the title select field and update facilities
    titleSelect.on('change', updateFacilities);
    titleSelect.on('change', updatePrice);
    updatePrice();
  });
</script>





