<!-- app/views/rooms/index.html.erb -->
<div class="col-lg-12">
  <div class="container">
      <div class="card-header h2">Rooms for <%= @accommodation.name %></div>
      <%= link_to 'New Room', new_accommodation_room_path(@accommodation) %>
      <div class="row">
        <% @rooms.each do |room| %>
          <div class="col-lg-4">
            <div class="card text-center">
              <div class="card-body">
                <%= link_to  accommodation_room_path(@accommodation, room), style:"text-decoration:none; color:black" do  %>
                  <h5 class="card-title">Title:<span><%= room.title %></span></h5>
                  <p class="card-text">Location:<span><%= room.location %></span></p>
                  <p class="card-text">Adults:<span><%= room.adults %></span></p>
                  <p class="card-text">Children:<span><%= room.childrens %></span></p>
                  <p class="card-text">User:<span><%= room.user_id %></span></p>
                  <p class="card-text">Contact:<span><%= room.contact_number %></span></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




