<div class=" col-lg-12 col-md-12 mt-5">
  <div class="container ">
    <div class="col-lg-12 col-md-12">
      <div class="row justify-content-between  ">
        <div class="col-lg-6">
          <h1 class="car-text ">Rent Car In <br>Worldwide</h1>
          <!-- Modal Trigger Button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carRentalModal">
            Open Car Rental Form
          </button>
          <!-- Car Rental Form Modal -->
          <div class="col-lg-12">
            <div class="modal fade" id="carRentalModal" tabindex="-1" aria-labelledby="carRentalModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"> 
                    <h5 class="modal-title text-dark" id="carRentalModalLabel">Car Rental Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-dark">
                   <div class=" col-lg-12">
                     <%= form_for @car_rental, url: car_rentals_path, html: { data: { turbo: false } } do |form| %>

                        <div class="form-outline mb-4">
                          <%= form.label :pick_up_location, class:"form-label "%>
                          <%= form.text_field :pick_up_location, class:"form-control form-control-lg"%> 
                          <% @car_rental.errors.full_messages_for(:pick_up_location).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>
                                        
                        <div class="form-outline mb-4">
                          <%= form.label :pick_up_date, class:"form-label"%>
                          <%= form.date_field :pick_up_date, class:"form-control form-control-lg"%>
                          <% @car_rental.errors.full_messages_for(:pick_up_date).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :pick_up_time, class:"form-label"%>
                          <%= form.time_field :pick_up_time, class:"form-control form-control-lg", format: "%I:%M %p"%>
                          <% @car_rental.errors.full_messages_for(:pick_up_time).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :drop_off_location, class:"form-label"%>
                          <%= form.text_field :drop_off_location, class:"form-control form-control-lg"%>
                         <% @car_rental.errors.full_messages_for(:drop_off_location).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :drop_off_date, class:"form-label"%>
                          <%= form.date_field :drop_off_date, class:"form-control form-control-lg"%>
                          <% @car_rental.errors.full_messages_for(:drop_off_date).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :drop_off_time, class:"form-label"%>
                          <%= form.time_field :drop_off_time, class:"form-control form-control-lg", format: "%I:%M %p"%>
                          <% @car_rental.errors.full_messages_for(:drop_off_time).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :car_type, class:"form-label "%>
                          <%= form.select :car_type, ['Hatchback $20/km', 'Sedan $18/km', 'MUV/SUV $22/km', 'Convertible  $30/km'], {} , class:"form-select form-select-lg"%>
                         <% @car_rental.errors.full_messages_for(:car_type).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="form-outline mb-4">
                          <%= form.label :car_name, class: "form-label" %>
                          <%= form.select :car_name, ['Select','Mahindra', 'MarutiSuzuki', 'Hyundai','Tata'], {}, class: "form-select form-select-lg" %>
                          <% @car_rental.errors.full_messages_for(:car_name).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>
                        <div class="form-outline mb-4">
                          <%#= form.label :user_id, class: "form-label" %>
                          <%= form.hidden_field :user_id, value: current_user.id %>
                          <% @car_rental.errors.full_messages_for(:user_id).each do |message|%>
                            <p class="text-danger"><%= message %></p>
                          <% end %>
                        </div>

                        <div class="modal-footer">
                          <%= form.submit "Submit", class:"btn btn-outline-success" %>
                        </div>  
                      <% end %>
                   </div>
                 </div>
               </div> 
              </div>
            </div>
          </div>
        </div>           
        <div class="col-lg-6">
       <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="black-background">
                <%= image_tag('car(5).jpeg', alt: 'Your Image', class: 'custome-img ') %>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag('car(1).webp', alt: 'Your Image', class: 'custome-img ') %>
            </div>
            <div class="carousel-item">
              <%= image_tag('car(6).webp', alt: 'Your Image', class: 'custome-img ') %>
            </div>
            <div class="carousel-item">
              <%= image_tag('car(7).jpeg', alt: 'Your Image', class: 'custome-img ') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
 <div class="row">
    <div class="col-lg-4">
      <div class="card mt-5 mb-3 " style="width: 20rem;">
        <%= image_tag('car(5).jpeg', alt: 'Your Image', class: ' car-img card-img-top') %>
        <div class="card-body bg-dark text-light">
          <h5 class="card-title">Drive Now Car Rental</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-danger">Booking</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mt-5 mb-3 " style="width: 20rem; ">
        <%= image_tag('car(7).jpeg', alt: 'Your Image', class: ' car-img card-img-top') %>
        <div class="card-body bg-dark text-light">
          <h5 class="card-title">Drive Now Car Rental</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-danger">Booking</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mt-5 mb-3 " style="width: 18rem; ">
        <%= image_tag('car(6).jpeg', alt: 'Your Image', class: ' car-img card-img-top') %>
        <div class="card-body bg-dark text-light">
          <h5 class="card-title">Drive Now Car Rental</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-danger">Booking</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-color: black; /* or any other dark color */
    color: #ffffff; /* set the text color to contrast with the dark background */
  }

  .custome-img {
    width: 100%;
    max-height: 50em;
  }

  .car-text {
    font-size: 6em; /* Add the font-size property */
    font-weight: bold; /* Add any other styles as needed */
  }
  .car-img {
    width: 20 rem;
    max-height: 10rem;
  }

  .modal_text{
    color: black;
  }
</style>


