<div class="col-lg-6 col-lg-6 mx-auto mt-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card border"> 
          <h1 class="card-header"> Car Rental</h1>
          <div class="card-body">
            <h5 class="card-title">Pick_up Location:<span><%= @car_rental.pick_up_location%></span></h5>
            <p class="card-text">Pick up date:<span class="ms-2"><%= @car_rental.pick_up_date %></span></p>
            <p class="card-text">Pick up time:<span class="ms-2"><%= @car_rental.pick_up_time %></span></p>
            <p class="card-text">Drop off Loccation:<span class="ms-2"><%= @car_rental.drop_off_location %></span></p>
            <p class="card-text">Drop off Date:<span class="ms-2"><%= @car_rental.drop_off_date %></span></p>
            <p class="card-text">Drop off time:<span class="ms-2"><%= @car_rental.drop_off_time %></span></p>
            <p class="card-text">Car:<span class="ms-2"><%= @car_rental.car_type %></span></p>
            <p class="card-text">Car Name:<span class="ms-2"><%= @car_rental.car_name %></span></p> 
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>