<%= form_with model: @place, html: { data: { turbo: false } } do |form| %>
<!-- Name input -->

<%#= render 'shared/errors', model: @place %>

<div class="form-outline mb-4">
	<%= form.label :name, class:"form-label" %>
	<%= form.text_field :name, class:"form-control" %>
	<% @place.errors.full_messages_for(:name).each do |message| %>
	<p class="text-danger"><%= message  %></p>
	<% end %>
</div>

<!-- Email input -->
<div class="form-outline mb-4">
	<%= form.label :state, class:"form-label" %>
	<%= form.text_field :state, class:"form-control" %>
	<% @place.errors.full_messages_for(:state).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>

<!-- Message input -->
<div class="form-outline mb-4">
	<%= form.label :district, class:"form-label" %>
	<%= form.text_field :district, class:"form-control" %>
	<% @place.errors.full_messages_for(:district).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="form-outline mb-4">
			<%= form.label :longitude, class:"form-label" %>
			<%= form.text_field :longitude, class:"form-control" %>
			<% @place.errors.full_messages_for(:longitude).each do |message| %>
			<p class="text-danger"><%= message %></p>
			<% end %>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-outline mb-4">
			<%= form.label :latitude, class:"form-label" %>
			<%= form.text_field :latitude, class:"form-control"%>
			<% @place.errors.full_messages_for(:latitude).each do |message| %>
			<p class="text-danger"><%= message %></p>
			<% end %>
		</div>
	</div>
</div>


<div class="form-outline mb-4">
	<%= form.label :history, class:"form-label" %>
	<%= form.text_area :history, class:"form-control" %>
	<% @place.errors.full_messages_for(:history).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>




<div class="form-outline mb-4">
	<%= form.label :images, class:"form-label" %>
	<%= form.file_field :images, multiple: true %>
	<% @place.errors.full_messages_for(:images).each do |message| %>
	<p class="text-danger"><%= message %></p>
	<% end %>
</div>




<%= form.submit "Submit" ,class:"btn btn-primary " %>
<%= link_to "Back",places_path ,class:"btn btn-outline-warning" %>
<% end %>
