  <div class="col-lg-10 mx-auto mb-2">
  <% @places.each do |place| %>
  <div class="card shardow mx-auto mb-2" >
  <%= link_to place_path(place), style:"text-decoration: none;color:black; " do %>
    <h2 class="mx-3 mt-3 mb-3 text-dark"><span><%= place.id%></span>.<%= place.name %></h2>
    
    <% if place.images.attached? %>
    <%=  image_tag place.images.first, style:"width:100%; height:400px;", alt: "Place Image" %>
    <% end %>

    <div class="card-body">
      <p class="card-text"><%= simple_format(truncate(place.history, lenghth: 500))  %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>























<style>
  .place_image{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  
  
</style>






