<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-8 col-xl-5">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "carousel-1.webp", class:"d-block w-100", style:"width:100%; height:450px; max-height:450px;" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "carousel-2.jpeg", class:"d-block w-100",style:"width:100%; height:450px; max-height:450px;" %>
              </div>
              <div class="carousel-item">
               <%= image_tag "carousel-1.jpg", class:"d-block w-100",style:"width:100%; height:450px; max-height:450px;" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "rajawada-0.jpg", class:"d-block w-100",style:"width:100%; height:450px; max-height:450px;" %>  
              </div>
              <div class="carousel-item">
                <%= image_tag "ujjain -mahakal.jpeg", class:"d-block w-100",style:"width:100%; height:450px; max-height:450px;" %> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-bold mb-0 me-3"><h2>Sign up</h2></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <%= f.label :first_name,class:"form-label" %><br />
                  <%= f.text_field :first_name,class:"form-control form-control-lg", placeholder:"Enter first name" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <%= f.label :last_name, class:"form-label"%><br />
                  <%= f.text_field :last_name,class:"form-control form-control-lg", placeholder:"Enter last name" %>
                </div>
              </div>
            </div>
            <div class="field">
              <%= f.label :contact_number,class:"form-label" %><br />
              <%= f.text_field :contact_number ,class:"form-control form-control-lg", placeholder:"Enter Contact Number"%>
            </div>
            <div class="field">
              <%= f.label :address %><br />
              <%= f.text_field :address ,class:"form-control form-control-lg", placeholder:"Enter address "%>
            </div>
            <div class="field">
              <%= f.label :email,class:"form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control form-control-lg", placeholder:"Enter valid email" %>
            </div>
            <div class="field">
              <%= f.label :password ,class:"form-label"%>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password",class:"form-control form-control-lg",placeholder:"Enter  valid password" %>
            </div>  
             <div class="field d-flex mt-3">
              <%= f.label :user_image,class:"form-label me-2" %><br />
              <%= f.file_field :user_image ,class:"", placeholder:"Select file "%>
            </div>    
            <div class="text-center text-lg-start mt-4 pt-2">
              <%= f.submit "Sign up",class:"btn btn-primary btn-lg",
              style:"padding-left: 2.5rem; padding-right: 2.5rem;" %>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
              class="link-danger"><%= render "users/shared/links" %></a></p>
           </div>
          </form>
        </div>
      </div>
    </div>  
  </section>
<% end %>


